.line::after {
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(248, 68, 68);
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 80px;
}
.active{
    background-color: rgb(221, 69, 69);
}
